<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Caps.Console.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Caps.Console.MySettings.CapsDataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\Honza\Dokumenty\Programy\Caps\CapsData.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
        <add name="Caps.Console.MySettings.CapsDataConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\Honza\Dokumenty\Programy\Caps\CapsData.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Caps.Console.MySettings.CapsDevConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Documents and Settings\Honza\Dokumenty\Programy\Caps\CapsData.mdf&quot;;Initial Catalog=CapsDev;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Caps.Console.MySettings>
            <setting name="ImageRoot" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastImageName" serializeAs="String">
                <value/>
            </setting>
            <setting name="Version" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserConnectionString" serializeAs="String">
                <value/>
            </setting>
            <setting name="winMainLoc" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="winNewCapLoc" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="winCapDetailsLoc" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="winCapEditorLoc" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="winEditorsLoc" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="FavoriteCharacters" serializeAs="String">
                <value>®©№■•‰½→←↺↻▲▼▶◀★</value>
            </setting>
        </Caps.Console.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
