<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Caps.My.MySettings.FakeConnectionString" connectionString="Data Source=.\SQLEXPRESS2008;AttachDbFilename=D:\Users\Honza\Documents\Programy\Caps\CapsData.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="CapsEntityDataContainer" connectionString="metadata=res://*/DAL.CapsEntityData.csdl|res://*/DAL.CapsEntityData.ssdl|res://*/DAL.CapsEntityData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BIGGERBOOK\SQLEXPRESS2008;AttachDbFilename=D:\Users\Honza\Documents\Programy\Caps\CapsData.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="CapsDataContext" connectionString="metadata=res://*/DAL.CapsData.csdl|res://*/DAL.CapsData.ssdl|res://*/DAL.CapsData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BIGGERBOOK\SQLEXPRESS2008;AttachDbFilename=D:\Users\Honza\Documents\Programy\Caps\CapsData.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>